/*
	Theme Name: Kihon
	Theme URI: http://tdh.me/wordpress/kihon/
	Author: Thord Daniel Hedengren
	Author URI: http://tdh.me/
	Description: A simple theme meant as a foundation for your adventures in the WordPress world.
	Version: 1.4
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: light, two-columns, right-sidebar, fixed-width, custom-background, custom-header, custom-menu, sticky-post
*/

/* 01 RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; 
}

audio[controls], canvas, video { 
	display: inline-block; 
	*display: inline; 
	*zoom: 1; } /* From HTML5 Boilerplate */
	
body { 
	line-height: 1; 
}

ol, ul { 
	list-style: none; 
}


/* 02 LAYOUT */

body {
	background-color: #efefef;
}

#inner-wrap {
	float: left;
	background-color: #fff;
}

#header-container, #header-navigation, #footer-container {
	width: 100%;
	float: left;
}

#header-container {
	margin-bottom: 30px;
}

#site-description {
	float: right;
	margin: 0 0 20px 20px;
}

#header-navigation {}

#header-navigation .menu {
	width: 100%;
	float: left;
	padding: 10px 0;
	border: 1px solid #bbb;
	border-width: 1px 0;
}

#header-navigation .menu-item {
	float: left;
	margin-right: 20px;
}

#content-container {
	float: left;
}

.post, .page {
	width: 100%;
	float: left;
	margin-bottom: 40px;
}

.sticky {
	padding-bottom: 40px;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
	margin-left: -50px;
	padding: 25px 25px 25px 50px;
	background-color: #efefef;
}

.entry-content, .entry-meta {
	width: 100%;
	float: left;
}

.entry-meta {
	padding: 15px;
	background-color: #eee;
	margin-bottom: 30px;
}

.author-bio {
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #bbb;
}

.author-bio img.avatar {
	float: left;
	margin-right: 10px;
	width: 24px;
	height: 24px;
}

li.widget-container {
	margin-bottom: 40px;
}

#footer-container {
	margin-top: 30px;
	padding-top: 40px;
	border-top: 1px solid #bbb;
}

.navigation {
	width: 100%;
	float: left;
}

#nav-above {
	margin-bottom: 50px;
}

#nav-below {
	margin-top: 50px;
	margin-bottom: 30px;
}

.nav-previous, .nav-next {
	width: 40%;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
	text-align: right;
}

address {
	margin-left: 25px;
	margin-bottom: 24px;
	padding-left: 25px;
	border-left: 1px solid #bbb;
}

abbr {
	padding: 2px;
	background-color: #efefef;
}

.page-link {
	font-size: 12px;
	text-transform: uppercase;
}

.alignnone {
    margin: 5px 0 20px 0; 
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 20px auto; 
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px; 
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0; 
}

.aligncenter {
    display: block;
    margin: 5px auto 20px auto; 
}


/* 03 LINKS */

a:link, a:active, a:visited {
	color: #ff18a2;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

#site-title a, .entry-title a, .navigation a {
	color: #111;
}

#site-title a:hover, .entry-title a:hover, .navigation a:hover {
	color: #ff18a2;
	text-decoration: none;
}

.navigation a {
	font-weight: 500;
}


/* 04 TYPOGRAPHY */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1#site-title {
	font-size: 42px;
	font-weight: 300;
	line-height: 42px;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

h1#site-header {
	margin-bottom: 20px;
}

#site-description p {
	font-size: 16px;
	font-weight: 300;
	line-height: 42px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	color: #111;
}

.entry-content p, .entry-summary p {
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	color: #343434;
	margin-bottom: 24px;
}

.entry-title {
	font-weight: 700;
	margin-bottom: 12px;
}

h1.entry-title {
	font-size: 36px;
	line-height: 48px;
}

h1.page-title {
	margin-bottom: 30px;
}

h2.entry-title {
	font-size: 24px;
	line-height: 32px;
}

.entry-content h1, .entry-content h2, #comments-title {
	font-size: 24px;
	line-height: 32px;
	margin-top: 42px;
	margin-bottom: 12px;
}

.entry-content h3, #reply-title {
	font-size: 18px;
	margin-top: 36px;
	margin-bottom: 12px;
}

.entry-content h4 {
	font-size: 16px;
	margin-bottom: 12px;
}

.entry-content h5 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.entry-content h6 {
	margin-bottom: 12px;
}

blockquote {
	margin-left: 25px;
	padding-left: 25px;
	border-left: 1px solid #bbb;
	color: #666;
	line-height: 28px;
}

blockquote p {
	margin-bottom: 24px;
}

p.author-meta {
	color: #666;
	margin-bottom: 30px;
}

p.author-meta span {
	font-style: normal;
	font-weight: 500;
}

p.entry-postmeta {
	margin: 0;
}

h3.author-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
}

p.author-description {
	line-height: 150%;
	margin: 0;
	color: #333;
}

span.meta-tag-list {
	display: block;
	margin-top: 10px;
}

.widget-title {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 10px;
}

.widget-container p {
	margin-bottom: 12px;
	line-height: 20px;
}

#header-navigation, .read-more, p.author-meta, p.entry-postmeta, p.author-description, li.widget-container table {
	font-size: 14px;
	color: #666;
}

#footer-container p {
	text-align: center;
	color: #666;
}

.footer-copy {
	font-size: 14px;
}

.kihon-credits {
	margin-top: 30px;
	font-size: 12px;
}

.navigation, .archive-title {
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
}

.archive-title {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #bbb;
	color: #666;
}

.archive-title span, body.category .archive-title, body.tag .archive-title {
	font-weight: 700;
	color: #333;
}

address {
	color: #333;
	font-weight: 500;
}

abbr {
	font-size: 12px;
	text-transform: uppercase;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: 700;
}

pre {
	margin-bottom: 24px;
	font-family: monospace;
}

.page-link {
	font-size: 12px;
	text-transform: uppercase;
}


/* 05 FIGURES AND EMBEDS */

.entry-content img, .wp-caption {
	max-width: 100%;
	height: auto; 
}

.wp-caption {
    background: #fff;
    max-width: 100%;
    padding: 0;
    text-align: center; 
}

.alignnone {
    margin: 0 0 20px 0; 
}

.alignleft {
    margin: 0 20px 20px 0;
}

.alignright {
    margin: 0 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}


/* 06 LISTS */

.entry-content dt, .entry-content dd, .entry-content li {
	font-weight: 300;
}

.entry-content dl {
	margin-bottom: 14px;
}

.entry-content dt {
	margin-bottom: 10px;
}

.entry-content dd {
	color: #666;
	font-weight: 300;
	margin-bottom: 10px;
	margin-left: 25px;
	padding-left: 25px;
	border-left: 1px solid #bbb;
}

.entry-content ul li, .entry-content ol li {
	color: #666;
}

.entry-content ul {
	margin-bottom: 14px;
	list-style: square;
}

.entry-content ol {
	margin-bottom: 14px;
	list-style: decimal;
}

.entry-content li {
	margin-left: 25px;
	margin-bottom: 10px;
}

.entry-content li ul, .entry-content li ol {
	margin-top: 10px;
}

.commentlist {}

li.comment {
	margin: 20px 0;
	color: #333;
}

li.comment img.avatar {
	float: left;
	margin-right: 10px;
}

.comment-author, .comment-meta, .reply, #commentform p {
	font-size: 14px;
	font-weight: 300;
}

.comment-meta {
	margin-top: 5px;
	margin-bottom: 10px;
}

.comment-body p {
	line-height: 24px;
	margin-bottom: 24px;
}

ul.children {
	margin-left: 25px;
	padding-left: 25px;
	border-left: 1px solid #bbb;
}

#respond {
	width: 100%;
	float: left;
	background-color: #efefef;
}

#reply-title {
	margin: 25px;
}

#reply-title small {
	float: right;
	font-weight: 300;
}

#commentform {
	margin: 0 25px 25px 25px;
}

#commentform p {
	margin-bottom: 12px;;
}

#comment {
	width: 90%;
	padding: 3%;
}

li.widget-container ul li {
	margin: 10px 0;
}


/* 07 FORMS */

input, textarea {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

input, textarea {
	max-width: 100%;
}


/* 08 TABLES */

table {
	width: 100%;
	margin-bottom: 24px;
}

tbody {
	border: 1px solid #bbb;
}

th, td {
	padding: 5px;
}

th {
	background-color: #bbb;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #111;
}

td {
	color: #666;
}

.alternate {
	background-color: #efefef;
}


/* 09 MEDIA QUERIES */

/* Up to 960 px px */
@media only screen and (max-width: 960px) {

	#inner-wrap {
		padding: 20px;
	}

	#content-container, #sidebar-container, #site-header, #site-description {
		width: 100%;
		float: left;
	}

	#site-header, #site-description {
		text-align: center;
	}

	#site-header {
		float: left;
	}

	#site-description {
		float: right;
		line-height: 175%;
		margin: 0;
	}

	#sidebar-container {
		margin-top: 50px;
	}

}

/* 521 px to 959 px */
@media only screen and (min-width: 521px) and (max-width: 959px) {

	#inner-wrap {
		padding: 20px;
	}

	#content-container {
		width: 65%;
		float: left;
	}

	#sidebar-container {
		width: 25%;
		float: right;
	}

	img.alignleft, img.alignright {
		max-width: 35%;
		height: auto; 
	}

	img.alignleft, img.alignright {
		max-width: 50%;
		height: auto; 
	}

}

/* 960 px and up */
@media only screen and (min-width: 960px) {

	#outer-wrap {
		width: 960px; /* Side width, note padding on #inner-wrap */
		margin: 20px auto;
	}

	#inner-wrap {
		padding: 50px;
		-moz-box-shadow: 0 4px 4px 4px #cfcfcf;
		-webkit-box-shadow: 0 4px 4px 4px #cfcfcf;
		box-shadow: 0 4px 4px 4px #cfcfcf;
	}

	#content-container {
		width: 550px;
		float: left;
	}

	#sidebar-container {
		width: 260px;
		float: right;
	}

}